<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" rel="stylesheet">
    <title>Assignments</title>
</head>
<body>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">id</th>
        <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="assignment : ${assignments}">
        <td>
            <a th:href="@{/director/assignmentCheck/{id}(id=${assignment.getId()})}"
               th:text="${assignment.getId()}">id</a>
        </td>
        <td>
            <a th:text="${assignment.description}"> Not description </a>
        </td>
    </tr>
    </tbody>
</table>
<table>
    <form method="GET" th:action="@{/director/director_panel}">
        <div class="form-group" style="margin-top: 10px">
            <div class="col-sm-6 controls">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>
    <form method="GET" th:action="@{/director/assignmentCheck}">
        <div class="form-group" style="margin-top: 10px">
            <div class="col-sm-6 controls">
                <button class="btn btn-primary" type="submit">Refresh</button>
            </div>
        </div>
    </form>
</table>

</body>
</html>