<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" rel="stylesheet">
    <title>Assignment</title>
</head>
<body>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="assignment : ${assignments}">
        <td>
            <a th:text="${assignment.description}"> Not description </a>
        </td>
        <td>
            <form method="POST" th:action="@{/head/assignmentCheck}">
                <input name="id" th:value="${assignment.getId()}" type="hidden"/>
                <input name="move" th:value="confirm" type="hidden"/>
                <div class="form-group" style="margin-top: 10px">
                    <div class="col-sm-6 controls">
                        <button class="btn btn-primary" type="submit">Confirm</button>
                    </div>
                </div>
            </form>
        </td>
        <td>
            <form method="POST" th:action="@{/head/assignmentCheck}">
                <input name="id" th:value="${assignment.getId()}" type="hidden"/>
                <input name="move" th:value="revision" type="hidden"/>
                <div class="form-group" style="margin-top: 10px">
                    <div class="col-sm-6 controls">
                        <button class="btn btn-primary" type="submit">Send for revision</button>
                    </div>
                </div>
            </form>
        </td>
        <td>
            <form enctype="multipart/form-data" method="POST" th:action="@{/head/upload}">
                <div class="form-group">
                    <input class="form-control-file" name="file" type="file">
                </div>
                <div class="form-group" style="margin-top: 10px">
                    <div class="col-sm-6 controls">
                        <button class="btn btn-primary" type="submit">Upload file</button>
                    </div>
                </div>
            </form>
        </td>
        <td>
            <form method="POST" th:action="@{/head/assignmentCheck}">
                <input name="id" th:value="${assignment.getId()}" type="hidden"/>
                <input name="move" th:value="delete" type="hidden"/>
                <div class="form-group" style="margin-top: 10px">
                    <div class="col-sm-6 controls">
                        <button class="btn btn-primary" type="submit">Delete assignment</button>
                    </div>
                </div>
            </form>
        </td>
    </tr>

    </tbody>
</table>

</body>
</html>