<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" rel="stylesheet">
    <title>Department head panel</title>
</head>
<body>
<h3 class="form-signin-heading">Department head panel</h3>
<form method="GET" th:action="@{/head/send_assignmentToSpec}">
    <div class="form-group" style="margin-top: 10px">
        <div class="col-sm-6 controls">
    <button class="btn btn-primary" type="submit">Add assignment</button>
        </div>
    </div>
</form>
<form method="GET" th:action="@{/head/assignmentCheck}">
    <div class="form-group" style="margin-top: 10px">
        <div class="col-sm-6 controls">
    <button class="btn btn-primary" type="submit">Check assignments</button>
        </div>
    </div>
</form>
</body>
</html>